@import './theme.scss';


@mixin buttons ($width, $height, $text-color: $text-theme, $text-size: $button-text-size){
    text-decoration: none;
    font-weight:700;
    font-size: $text-size;
    color: $text-color;
    border-radius: 7px;
    max-height: $height;
    max-width: $width;
    display: flex;
    cursor: pointer;
    padding: 3%;
    margin-right: 23px;
}

@mixin center-items {
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin horizontal-center-items {
    display:flex;
    flex-direction: column;
    align-items: center;
}

