@use './media.scss';
@use './devices.scss';
@import './theme.scss';
@import './mixin.scss';



// CSS DIRECTLY ACCESSING ELEMENT //

//TODO: 1.Add more mixins for cleaner code
//      2. add hamburger for phone screens
//      3. add color styling on my surname
//      4. add a light mode and a dark mode 

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    background-color: $navy-theme;
    color: $text-theme;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $text-theme;
}

header {
    width:86%;
    margin: auto;
}

main {

    // width:86%;
    // padding:0 14%;
    margin: auto;

    // @include media.laptop {
    //     width:79%;
    // }
}

svg {
    fill: $navy-theme;
}

figcaption {
    font-weight: 500;
    font-size: $caption-size;
}

p {
    font-size: $text-size;
    margin: 2%;
}

footer{
    background-color: black;
    color: white;
    font-size: $text-size;
    height: 155px;
    padding: 1% 4%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    // a {
    //     text-decoration: none;
    // }
    a:hover{
        text-decoration: underline;
        transform: all 400ms;
    }

    @include media.phone {

        background-color: black;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;  
    }
}

.orange {
    background: $orange-theme;
}


.blue {
    background: #3d5a80;
}

.purple {
    background: $light-purple-theme;
}

.spacer {
    aspect-ratio: 960/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layered-waves {
    background-image: url('./images/layered-waves.svg');
}

.single-wave {
    background-image: url('./images/single-wave.svg');
}

.single-wave-2 {
    background-image: url('./images/single-wave-2.svg');
}
// CSS REFERENCING CLASS OF ELEMENT



.navbar{
    position:sticky;
    top: 10px;
    background-color: $navy-theme;
    display: flex;
    justify-content: space-between;
    width: 95%;
    border-radius: 50px;
    margin: auto;
    margin-top: 27px;
    padding: 0 2%;
    box-shadow: 0 4px 40px $navy-theme;

    @include media.phone {
        display: none;
    }

    @include media.tablet {
        display: none;
    }

    h2 {
        font-size: 2em;
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        width: 40%; 
        row-gap: 10px;
        font-size: $text-size;
    }

    li {
        display: inline;
        margin: 5px;
        

        a {
            text-decoration: none;
            padding:12px;
            margin: 6px;
            border-radius: 7px;
            color: $text-theme;
            transition: all 400ms ease-in-out;
        }

        a:hover {
            color: $orange-theme;
            box-shadow: inset 0 -1px 0 0 $orange-theme;
            
        }
    }

    &__links{
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
}

.buttons-container {
    display: flex;
    color: $text-theme;
    padding-bottom: 3%;

    svg {
        height: 24px;
        width: 24px;
        fill: $text-theme;
    }

    span {
        margin-right: 8px;
    }

    &__code-button{
        @include buttons(139px, 45px);
        transition: all 400ms ease-in-out; 
    }

    &__code-button:hover {
        box-shadow: inset 0 0 0 1px $text-theme;
        
    }

    &__preview-button{
        @include buttons(139px, 45px);
        transition: all 400ms ease-in-out; 
    }

    &__preview-button:hover {
        box-shadow: inset 0 0 0 1px $text-theme; 
    }

}

.underline-style{
    box-shadow: inset 0 -0.4em 0 0 $orange-theme;
}

.underline-style-inverse{
    box-shadow: inset 0 -0.4em 0 0 $navy-theme;
}

.header-container{

    &__main{
        margin-bottom: 80px;
        height: 500px; //change to be responsive later
        
        @include media.lg-tablet {
            @include center-items;
        }

        @include media.laptop {
            @include center-items;
        }

        &--title-container{
           @include horizontal-center-items
        }
        
        h1 {
            font-size: $sm-main-heading-size;
            margin-bottom: 5%;

            @include media.lg-tablet{
                font-size: $main-heading-size;
            }

            @include media.laptop{
                font-size: $main-heading-size;
            }
        }

        a {
            display: inline-block;
            border: 3px solid $text-theme;
            box-shadow: 3px 4px 0 1px $text-theme;
            background-color: $orange-theme;
            @include buttons(321px, 78px, $text-theme, 20px);

            svg {
                margin-left: 8px;
                margin-top: 4px;
                fill:none;
            }
        }

        a:hover{
            transform: scale(1.05);
            transition: all 400ms;
        }

        &--header-img {

            @include media.phone {
                display: none;
            }

            @include media.tablet {
                display: none;
            }
        }

        &--subheading {
            color: $subheading-theme;
            font-size: $sm-main-subheading-size;
            font-weight: 500;
            margin:0;

            @include media.lg-tablet {
                font-size: $main-subheading-size;
            }

            @include media.laptop {
                font-size: $main-subheading-size;
            }
        }
    }

    &__project {
        padding: 2px;
        margin: 0;
    }
}

.section-container {
    padding-top: 40px;
    
    &__aboutme {
        padding: 80px 5%;

        @include media.lg-tablet {
            p {
                font-size: $lg-text-size;
            }
        }

        @include media.laptop {
            display:flex;
            flex-direction: row-reverse;
            p {
                font-size: $lg-text-size;
            }
        }

        &--profile-img {
            padding-bottom: 46px;
            width: 299.9px;
            height: 412.36px;

            @include media.lg-tablet {
                width: 488.74px;
                height: 672.02px;
                padding-bottom: 46px;
                // margin-right: 5%;
            }
    
            @include media.laptop {
                width: 488.74px;
                height: 672.02px;
                // margin-right: 5%;
            }
            
        }

        &--phone-head {

            display: none;

            @include media.phone {
                display: block;
                font-size: 48px;
                font-weight: 600;
            }

            @include media.tablet {
                display: block;
                font-size: 48px;
                font-weight: 600;
            }

            @include media.lg-tablet {
                display: block;
                font-size: 48px;
                font-weight: 600;
            }
        
        }
        

        &--laptop-head {
            display: none;

            @include media.laptop {
                display: block;
                text-align: left;
                font-size: 48px;
                font-weight: 600;
                padding: 3%;
            }
        }

        &--laptop-container{
            @include media.lg-tablet {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            @include media.laptop {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        article {
    
            @include media.laptop {
                padding: 3%;
                text-align: left;
            }
        }
    }

    &__tech {

        padding: 3% 0;

        &--tech-head{
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 41px;
        }

        p {
            padding: 0 4%;
            text-align: center; 

            @include media.lg-tablet {
                font-size: $lg-text-size;
                padding: 0 8%;
            }
            @include media.laptop {
                font-size: $lg-text-size;
                padding: 0 8%;
            }
        }
    }

    &__bottom {
        padding-top: 80px;
        padding-bottom: 10px;

        &--project-head {
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 80px; 
            margin-top: 0;
            padding-top: 40px; 
        }
        
    }
}

.about-me-phone{

    @include media.phone {
        display: block;
    }

    @include media.tablet {
        display: none;
    }

    @include media.lg-tablet {
        display: none;
    }
    @include media.laptop {
        display: none;
    }
}

.about-me-laptop{
    display: block;

    @include media.phone {
        display: none;
    }
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-with-caption {
    margin: 20px;
    width: 67px;
    text-align: center;
}

.project-container{

    @include media.laptop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 300px;
        row-gap: 64px;
    }
}

.project-card {
    max-width: 440.44px;
    margin: 3% auto;
    border-radius: 5px;
    // border:3px solid rgba(50, 50, 93, 0.25);
    box-shadow: 0 0 10px black inset;
    background-color: $navy-theme;
    padding:2%;
    text-align: left;
}

.project-card-subheading {
    font-size: 16px;
    font-weight:600;
    line-height: 19.36px;
    margin: 2.61px 0 2.61px;
    
}

.project-card-heading {
    font-size: 38px;
    font-weight:600;
    line-height: 45.99px;
    margin: 0;
}

.project-img-background {
    background-color: $orange-theme;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
};

.project-img{
    width: 100%;
    height: 100%;
}

.icon-container {
    @include media.phone{
        margin-bottom: 32px;
    }

    
    @include media.tablet{
        margin-bottom: 32px;
    }
    
}