/* Error: Undefined variable.
 *    ,
 * 11 |     @media only screen and (min-width: ($phone-width + 1px )) and ($max-width: $sm-tablet-width){
 *    |                                                                    ^^^^^^^^^^
 *    '
 *   media.scss 11:68  tablet()
 *   style.scss 88:5   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 11 \2502      @media only screen and (min-width: ($phone-width + 1px )) and ($max-width: $sm-tablet-width){\d\a    \2502                                                                     ^^^^^^^^^^\a    \2575 \a   media.scss 11:68  tablet()\a   style.scss 88:5   root stylesheet";
}
