@use './media.scss';
@use './devices.scss';
@import './theme.scss';
@import './mixin.scss';



// CSS DIRECTLY ACCESSING ELEMENT //

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    background-color: $purple-theme;
    color: $text-theme;
}

header {
    width:86%;
    margin: auto;
}

main {
    width:86%;
    margin: auto;

    @include media.laptop {
        width:79%;
    }
}

svg {
    fill: $orange-theme;
}

figcaption {
    font-weight: 500;
    font-size: $caption-size;
}

footer{
    background-color: black;
    height: 155px;
    padding: 4%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
        transform: all 400ms;
    }

    @include media.phone {

        background-color: black;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;  
    }
}


// CSS REFERENCING CLASS OF ELEMENT

.navbar{
    position:sticky;
    top: 0;
    background-color: $purple-theme;
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin: auto;
    margin-top: 47px;

    @include media.phone {
        display: none;
    }

    @include media.tablet {
        display: none;
    }

    ul{

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 50%; 
        row-gap: 10px;
        font-size: $text-size;
    }

    li {
        display: inline;
        margin: 0 15px 0;
        

        a {
            text-decoration: none;
            padding:12px;
            margin: 6px;
            border-radius: 7px;
            color: $text-theme;
        }

        a:hover {
            color: $orange-theme;
            box-shadow: inset 0 -1px 0 0 $orange-theme;
            transition: all 400ms;
        }
    }

    &__links{
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
}

.buttons-container {
    display: flex;
    color: $text-theme;

    svg {
        height: 24px;
        width: 24px;
        fill: $text-theme;
    }

    span {
        margin-right: 8px;
    }

    &__code-button{
        @include buttons(139px, 45px)
    }

    &__code-button:hover {
        box-shadow: inset 0 0 0 1px $text-theme;
        transition: all 400ms; 
    }

    &__preview-button{
        @include buttons(139px, 45px)
    }

    &__preview-button:hover {
        box-shadow: inset 0 0 0 1px $text-theme;
        transition: all 400ms; 
    }

}

.underline-style{
    box-shadow: inset 0 -0.4em 0 0 rgb(208, 135, 1);
}

.header-container{

    &__main{
        margin-bottom: 116px;
        height: 500px; //change to be responsive later
        
        @include media.lg-tablet {
            @include center-items;
        }

        @include media.laptop {
            @include center-items;
        }

        &--title-container{
           @include horizontal-center-items
        }
        
        h1 {
            font-size: $sm-main-heading-size;
            margin-bottom: 5%;

            @include media.lg-tablet{
                font-size: $main-heading-size;
            }

            @include media.laptop{
                font-size: $main-heading-size;
            }
        }

        a {
            display: inline-block;
            border: 3px solid $text-theme;
            box-shadow: 3px 4px 0 1px $text-theme;
            background-color: $orange-theme;
            @include buttons(321px, 78px, $text-theme, 20px);

            svg {
                margin-left: 8px;
                margin-top: 4px;
                fill:none;
            }
        }

        a:hover{
            transform: scale(1.05);
            transition: all 400ms;
        }

        &--header-img {

            @include media.phone {
                display: none;
            }

            @include media.tablet {
                display: none;
            }
        }

        &--subheading {
            color: $subheading-theme;
            font-size: $sm-main-subheading-size;
            font-weight: 500;
            margin:0;

            @include media.lg-tablet {
                font-size: $main-subheading-size;
            }

            @include media.laptop {
                font-size: $main-subheading-size;
            }
        }
    }

    &__project {
        padding: 2px;
        margin: 0;
    }
}

.section-container {
    margin-top: 69px;
    
    
    &__aboutme {
        margin-bottom: 81px;

        @include media.lg-tablet {
            display: flex;
            flex-direction: row-reverse;
        }

        @include media.laptop {
            display:flex;
            flex-direction: row-reverse;
        }

        &--profile-img {
            margin-bottom: 46px;
            width: 299.9px;
            height: 412.36px;

            @include media.lg-tablet {
                width: 488.74px;
                height: 672.02px;
                margin-right: 5%;
            }
    
            @include media.laptop {
                width: 488.74px;
                height: 672.02px;
                margin-right: 5%;
            }
            
        }

        &--phone-head {

            display: none;

            @include media.phone {
                display: block;
                font-weight: 600;
                font-size: 32px;
            }

            @include media.tablet {
                display: block;
                font-weight: 600;
                font-size: 32px;
            }
        
        }

        &--laptop-head {
            display: none;
            text-align: left;

            @include media.lg-tablet {
                display: block;
                font-size: 48px;
                font-weight: 600;
                padding: 3%;
            }

            @include media.laptop {
                display: block;
                font-size: 48px;
                font-weight: 600;
                padding: 3%;
            }
        }

        &--laptop-container{
            @include media.lg-tablet {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            @include media.laptop {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        article {
            @include media.lg-tablet {
                padding: 3%;
                text-align: left;

            }
    
            @include media.laptop {
                padding: 3%;
                text-align: left;
            }
        }
    }

    &__tech {

        &--tech-head{
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 41px;
        }

        p {
            padding: 0 25px 0;
            text-align: center; 
        }
    }

    &__bottom {
        margin-bottom: 81px;

        &--project-head {
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 80px;  
        }
        
    }
}

.about-me-phone{

    @include media.phone {
        display: block;
    }

    @include media.tablet {
        display: none;
    }

    @include media.lg-tablet {
        display: none;
    }
    @include media.laptop {
        display: none;
    }
}

.about-me-laptop{
    display: block;

    @include media.phone {
        display: none;
    }
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-with-caption {
    margin: 20px;
    width: 67px;
    text-align: center;
}

.project-container{

    @include media.laptop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 300px;
        row-gap: 64px;
    }
}

.project-card {
    max-width: 440.44px;
    margin: 0 auto 64px;
    text-align: left;
}

.project-card-subheading {
    font-size: 16px;
    font-weight:600;
    line-height: 19.36px;
    margin: 2.61px 0 2.61px;
}

.project-card-heading {
    font-size: 38px;
    font-weight:600;
    line-height: 45.99px;
    margin: 0;
}

.project-img-background {
    background-color: $orange-theme;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
};

.project-img{
    width: 88%;
    height: 74%;
}

.icon-container {
    @include media.phone{
        margin-bottom: 32px;
    }

    
    @include media.tablet{
        margin-bottom: 32px;
    }
    
}