// Color themes
$orange-theme: rgb(208, 135, 1);
$purple-theme: #27246a;
$text-theme: rgb(207, 203, 203);
$light-purple-theme:#302b8f;


//text sizes
$main-heading-size: 64px;
$aboutme-heading-size: 48px;
$project-header-size: 38px;
$section-header-size: 32px;
$nav-name-size: 23.85px; 
$text-size: 18px;
$caption-size: 16px;
$button-text-size: 16px;

//text weight
$nav-name-weight:700;
$nav-button-weight: 400;
$nav-color-button-weight:700;
$heading-weight: 600;
$subheading-weight: 600;
$main-subheading-weight: 500;


