// Color themes
// $orange-theme: rgb(208, 135, 1);
$orange-theme: #ee6c4d;
$navy-theme: #293241;
$text-theme: white;
$light-purple-theme:#302b8f;
$subheading-theme: rgb(205, 203, 203);


//text sizes
$main-heading-size: 80px;
$sm-main-heading-size: 64px;
$aboutme-heading-size: 48px;
$project-heading-size: 38px;
$main-subheading-size: 32px;
$section-heading-size: 32px;
$sm-main-subheading-size: 20px;
$nav-name-size: 23.85px; 
$text-size: 18px;
$lg-text-size: 24px;
$caption-size: 16px;
$button-text-size: 16px;

//text weight
$nav-name-weight:700;
$nav-button-weight: 400;
$nav-color-button-weight:700;
$heading-weight: 600;
$subheading-weight: 600;
$main-subheading-weight: 500;


